._inlineFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------- Header ----------------*/

.headerDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20vh;
  width: 100vw;
}

.headerDivLogo {
  flex-grow: 1;
}

.headerDivText {
  padding-right: 5vw;
  text-align: left;
}

.headerDivTextCode {
  border-radius: 5px;
  margin: 5px;
  text-align: left;
  font: 14px ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace;
  background: #bcd346;
  color: black;
  padding: 2px 5px;
}

.headerDivTextCodeResult {
  margin: 5px;
  text-align: left;
  font: 16px ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace;
}

/* ------------- ContentWrapper ----------------*/
.contentWrapperDiv {
  flex-grow: 1;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.navigationBarDiv {
  width: 15vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 5px 10px;
}

.contentPlaceholder {
  flex-grow: 1;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 70vh;
  background-image: radial-gradient(
      rgba(40, 44, 52, 0.5) -50%,
      rgba(40, 44, 52, 1) 68%
    ),
    url("manjoybera-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw;
}

/* ------------- Navigation ----------------*/
.navigationItem {
  height: 5vw;
  margin: 5px;
  border: 1px solid #b9da08;
  background-color: #dfe4c6;
  width: 100%;
  text-decoration: unset;
  color: black;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navigationItem.active {
  background-color: #bcd346;
}

/* ------------- Footer ----------------*/
.footerDiv {
  height: 5vh;
  width: 100vw;
  font-size: calc(10px + 1vmin);
}
/* -------------------------------------- */
